body {
  background-image: url("https://wallpaper.forfun.com/fetch/8e/8e1c24be93956d53f25e308ecbe48d9b.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.block {
  font-family: Arial, sans-serif;
  color: #e4e4e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}

.filter {
  display: center;
  margin: 20px 15px;
  font-size: 1.1em;
  margin: 5px 15px;
  text-align: center;
}

.locations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  max-width: 70rem;
}

.locationsInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 12px;
  gap: 0.5rem;
  margin: 0.2rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.75rem 0.5rem #0c0c0c;
}

.locationName {
  display: contents;
  align-items: center;
  margin-bottom: 0.5rem;
  max-width: 15rem;
}

.locationType {
  display: contents;
  align-items: center;
  margin-bottom: 0.5rem;
  max-width: 15rem;
}

.locationDimension {
  display: contents;
  align-items: center;
  margin-bottom: 0.5rem;
  max-width: 15rem;
}

.backButton {
  margin: -15px 15px;
}
